header.header
    .container
        .header__inner
            .header__logo
                a(href='#')
                    img(src="./img/logo.svg" alt='logo')
            .header__column
                .header__top
                    .header__munu-wrap
                        ul.header__menu
                            li.header__menu-item
                                a(href="#").header__menu-link Як відправити
                            li.header__menu-item
                                a(href="#").header__menu-link Терміни доставки
                            li.header__menu-item
                                a(href="#").header__menu-link Тарифи
                            li.header__menu-item
                                a(href="#").header__menu-link Калькулятор
                            li.header__menu-item
                                a(href="#").header__menu-link Питання/Відповідь
                            li.header__menu-item
                                a(href="#").header__menu-link Контакти
                    .header__languages
                        .header__languages-selected
                            include ../../img/home/menu-flag-ua.svg
                        .header__languages-items
                            .header__languages-item
                                include ../../img/home/menu-flag-ua.svg
                                | Ukr
                            .header__languages-item
                                include ../../img/home/menu-flag-ua.svg
                                | Ukr
                            .header__languages-item
                                include ../../img/home/menu-flag-usa.svg
                                | Ukr

                    .header__phone
                        a(href="tel:0800217096") 0 (800) 217-096
                    .header__solial
                        .header__social
                            a(href='#').header__social-item
                                include ../../img/home/telegram.svg
                            a(href='#').header__social-item
                                include ../../img/home/phone.svg
                            a(href='#').header__social-item
                                include ../../img/home/viber.svg
                    .header__button
                        a(href="https://system.expressposhta.com/post/login").site-btn Відправити посилку
                    a(href="javascript:void(0)").mobile-menu-btn
                        include ../../img/menu-btn.svg

                .header__bottom
                    .header__search
                        input.header__search-input(type='text' placeholder='Відстежити замовлення')
                        a(href='#').site-btn.header__search-btn
                            include ../../img/home/search.svg
                    a(href="https://system.expressposhta.com/post/login").site-btn Відправити посилку


//include ../components/popups/_popup_location_select
