header.header
    .header__inner
        .header__logo
            img
        .header__column
            .header__top
                .header__munu-wrap
                    ul.header__menu
                        li.header__menu-item
                            a(href="#").header__menu-link
                        li.header__menu-item
                            a(href="#").header__menu-link
                        li.header__menu-item
                            a(href="#").header__menu-link
                        li.header__menu-item
                            a(href="#").header__menu-link
                        li.header__menu-item
                            a(href="#").header__menu-link
                        li.header__menu-item
                            a(href="#").header__menu-link
                .header__languages
                    .header__selected
                    .header__languages-items
                        .header__languages-item
                        .header__languages-item

                .header__phone
                    a(href="tel:")
                .header__solial
                    .header__social
                        .header__social-item
                            //include ../img/category_icons/cake.svg
                        .header__social-item
                            //include ../img/category_icons/cake.svg
                        .header__social-item
                            //include ../img/category_icons/cake.svg
                .header__button
                    a(href="#").site-btn

            .header__bottom
                .header__search
                    input.header__search-input(type='text')
                    a(href='#').site-btn


//include ../components/popups/_popup_location_select
