extends ./templates/_layout

block vars
  - var pageTitle = "Homepage";
  - var pageClass = "homepage";
  - var pageActive = "homepage";

block content
  div.main-wrap
    .section-calculator.lazyload
      .container
        .site-title
          h1.site-title-txt.main-title
            span Міжнародна
            | експрес доставка посилок та документів
          .calculator-tabs
            a(href='#').calculator-tabs__item
              include ../img/home/calculator.svg
              | Розрахувати вартість <br> доставки
            a(href='#').calculator-tabs__item
              include ../img/home/clock.svg
              | Терміни доставки
            a(href='#').calculator-tabs__item
              include ../img/home/lamp.svg
              | Як <br> видправити?

        .calculator-block
          .calculator-block__inner
            .calculator-block__items
              .calculator-block__item
                .calculator-block__name Відправити звідки...
                .calculator-block__select
                  .calculator-block__select-cuctom
                    label(for='sender').calculator-block__selected Велікобританія
                    input(type='text' id='sender' value='' placeholder='Поштовий індекс (рекомендуємо)')
                    .calculator-block__select--found
              .calculator-block__item
                .calculator-block__name Доставити куди...
                .calculator-block__select
                  .calculator-block__select-cuctom
                    label(for='delivery').calculator-block__selected Оберіть
                    input(type='text' id='delivery' value='' placeholder='Поштовий індекс (рекомендуємо)')
                    .calculator-block__select--found
              .calculator-block__item
                .calculator-block__name Що ви відправляєте?
                  a(href='#').calculator-block__name--quest Потрібна допомога?
                    include ../img/home/help.svg
                .calculator-block__select-wrap
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__select
                      select
                        option(value='1') 1
                  .calculator-block__select-item.calculator-block__select-item--col-9
                    .calculator-block__select
                      select
                        option(value='Посилка') Посилка
              .calculator-block__item
                .calculator-block__select-wrap.calculator-block__select-wrap--column
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name Вага
                    .calculator-block__input
                      input(type='text')
                      span кг
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name Довжина
                    .calculator-block__input
                      input(type='text')
                      span см
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name Ширина
                    .calculator-block__input
                      input(type='text')
                      span см
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name Висота
                    .calculator-block__input
                      input(type='text')
                      span см
              .calculator-block__item
                .calculator-block__txt.calculator-block__txt--img
                  include ../img/home/box.svg
                  | Використовуйте збережену партію
              .calculator-block__item
                .calculator-block__radio
                  .calculator-block__radio-txt Вимірювання:
                  .calculator-block__radio-item
                    input(type="radio" id='kg' name='weight_type' value='kg/cm' checked='true')
                    label(for='kg').calculator-block__radio-label kg/cm
                  .calculator-block__radio-item
                    input(type="radio" id='lb' name='weight_type' value='lb/inches')
                    label(for='lb').calculator-block__radio-label lb/inches

            .calculator-block__footer
              .calculator-block__footer__left
                a(href="#").site-btn Розрахувати
              .calculator-block__footer__right
                .calculator-block__footer-totals
                  .calculator-block__footer-total Стандартна доставка:
                    span $5
                  .calculator-block__footer-total Експрес:
                    span $10

    .section-delivery.lazyload
      .container
        .delivery
          .delivery__inner
            .site-title.site-title--small
              .site-title-txt
                span Терміни <br>
                | нашої доставки
              .site-title-caption Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу.
              a(href='#').site-title-btn.site-btn Обрати іншу країну
            .delivery__items
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/usa.svg
                  .delivery__item-top
                    include ../img/home/flag_usa.svg
                    | США
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 4 - 5 днів
                    .delivery__item-right
                      .delivery__item-name Економ доставка
                      .delivery__item-txt 6 - 10 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/canada.svg
                  .delivery__item-top
                    include ../img/home/flag_kanada.svg
                    | Канада
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 7 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/australia.svg
                  .delivery__item-top
                    include ../img/home/flag_australia.svg
                    | Австралія
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 4 - 5 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/poland.svg
                  .delivery__item-top
                    include ../img/home/flag_poland.svg
                    | Польша
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 4 - 8 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/italy.svg
                  .delivery__item-top
                    include ../img/home/flag_italy.svg
                    | Італія
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 3 - 6 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/gb.svg
                  .delivery__item-top
                    include ../img/home/flag_gb.svg
                    | Великобретанія
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 2 - 6 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/germany.svg
                  .delivery__item-top
                    include ../img/home/flag_germany.svg
                    | Німетчина
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 3 - 6 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/spain.svg
                  .delivery__item-top
                    include ../img/home/flag_spain.svg
                    | Іспанія
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 3 - 7 днів
              .delivery__item
                .delivery__item-inner
                  include ../img/home/country/greece.svg
                  .delivery__item-top
                    include ../img/home/flag_greece.svg
                    | Греція
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name Експрес доставка
                      .delivery__item-txt 4 - 9 днів


    .section-why-we.lazyload
      .container
        .why-we
          .why-we__inner
            .why-we__left
              .site-title.site-title
                .site-title-txt
                  | Чому&nbsp;
                  span express poshta?
                .site-title-caption Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
                .site-title-btn-wrap
                  span Що можна відправити?
                  a(href='#').site-title-btn.site-btn Обрати іншу країну

            .why-we__right
              .why-we__right-img
                include ../img/home/earch3.svg
                span.why-we__right-txt.send Комерційні відправлення
                  include ../img/home/why/1_.svg
                span.why-we__right-txt.box Подарунки
                  include ../img/home/why/2_.svg
                span.why-we__right-txt.money Особисті речі
                  include ../img/home/why/3_.svg
                span.why-we__right-txt.docs Документи
                  include ../img/home/why/4_.svg






        
    