extends ./templates/_layout

block vars
  - var pageTitle = "Homepage";
  - var pageClass = "homepage";
  - var pageActive = "homepage";

block content
  div.main-wrap
    .section-calculator.lazyload
      .container
        .site-title
          .site-title-txt
          .calculator-tabs
            .calculator-tabs__item
            .calculator-tabs__item
            .calculator-tabs__item

        .calculator-block
          .calculator-block__inner
            .calculator-block__items
              .calculator-block__item
                .calculator-block__name
                .calculator-block__select
              .calculator-block__item
                .calculator-block__name
                .calculator-block__select
              .calculator-block__item
                .calculator-block__name
                .calculator-block__select-wrap
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__select
                  .calculator-block__select-item.calculator-block__select-item--col-9
                    .calculator-block__select
              .calculator-block__item
                .calculator-block__select-wrap.calculator-block__select-wrap--column
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name
                    .calculator-block__select
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name
                    .calculator-block__select
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name
                    .calculator-block__select
                  .calculator-block__select-item.calculator-block__select-item--col-3
                    .calculator-block__name
                    .calculator-block__select
              .calculator-block__item
                .calculator-block__txt
              .calculator-block__item
                .calculator-block__radio
                  .calculator-block__radio-txt
                  .calculator-block__radio-item
                    input(type="radio")
                    label().calculator-block__radio-label
                  .calculator-block__radio-item
                    input(type="radio")
                    label().calculator-block__radio-label

            .calculator-block__footer
              .calculator-block__footer__left
                a(href="#").site-btn
              .calculator-block__footer__right
                .calculator-block__footer-totals
                  .calculator-block__footer-total
                  .calculator-block__footer-total

    .section-delivery.lazyload
      .container
        .delivery
          .delivery__inner
            .site-title.site-title--small
              .site-title-txt
            .delivery__items
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt
              .delivery__item
                .delivery__item-inner
                  .delivery__item-top
                  .delivery__item-bottom
                    .delivery__item-left
                      .delivery__item-name
                      .delivery__item-txt
                    .delivery__item-right
                      .delivery__item-name
                      .delivery__item-txt


    .section-why-we.lazyload
      .container
        .why-we
          .why-we__inner
            .site-title.site-title
              .site-title-txt
              .site-title-caption
              .site-title-btn
                span
                .site-btn

            .why-we__right





        
    