extends ./templates/_layout

block vars
  - var pageTitle = "Homepage";
  - var pageClass = "homepage";
  - var pageActive = "homepage";
  - var index = true;

block content
  div.main-wrap(style='display: flex;justify-content: center; align-items: center; min-height: 100vh; gap: 20px; flex-direction: column;')
    a(href='home.html') home
    a(href='contacts.html') contacts
    a(href='search.html') search
    a(href='search-2.html') search2
    a(href='about-us.html') about us
    a(href='blog.html') blog
    a(href='tariffs.html') tariffs
    a(href='delivery-terms.html') delivery terms
    a(href='calculator.html') calculator

