extends ./templates/_layout

block vars
  - var pageTitle = "Questions";
  - var pageClass = "questions-page";
  - var pageActive = "questions";

block content
  div.main-wrap
    .section-questions
      .container
        .site-title
          h1.site-title-txt.main-title
            span Питання
            | /відповіді

        .questions
          .questions__inner(data-tabs)
            .questions__items
              .questions__item(data-tab-content="1").active
                a(href="javascript:void(0)" data-tab="1").questions__link 01. Як розрахувати вартість доставки за кордон?
                .questions__txt Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="2")
                a(href="javascript:void(0)" data-tab="2").questions__link 02. Як дізнатися терміни доставки?
                .questions__txt Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="3")
                a(href="javascript:void(0)" data-tab="3").questions__link 03. Навіщо потрібен особистий кабінет?
                .questions__txt Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="4")
                a(href="javascript:void(0)" data-tab="4").questions__link 04. Що робити, якщо відправлення пошкоджене або втрачене?
                .questions__txt Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="5")
                a(href="javascript:void(0)" data-tab="5").questions__link 05. Які розміри посилки допустимі для економ-доставки?
                .questions__txt Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="6")
                a(href="javascript:void(0)" data-tab="6").questions__link 06. Які параметри допустимі для експрес-доставки?
                .questions__txt Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="7")
                a(href="javascript:void(0)" data-tab="7").questions__link 07. Скільки часу займає обробка відправлення посилки у Express Poshta?
                .questions__txt.questions__txt--top Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="8")
                a(href="javascript:void(0)" data-tab="8").questions__link 08. Які додаткові платежі крім вартості доставки необхідно сплачувати?
                .questions__txt.questions__txt--top Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="9")
                a(href="javascript:void(0)" data-tab="9").questions__link 09. Як відстежити відправлення?
                .questions__txt.questions__txt--top Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.
              .questions__item(data-tab-content="10")
                a(href="javascript:void(0)" data-tab="10").questions__link 10. Що заборонено пересилати через Express Poshta?
                .questions__txt.questions__txt--top Ми працюємо з провідними перевізниками та забезпечуємо термінову доставку важливих посилок у будь-яку країну світу. Скориставшись нашими послугами Ви гарантовано отримуєте найвищу якість за розумною ціною.

        
    