// import modules
@import "./modules/_mixin";
@import "./modules/_media";
@import "./modules/_colors";
@import "./modules/_flexbox";
@import './modules/_reset.scss';
@import "./modules/_fonts";
@import "./modules/_ui";
@import "./modules/_popup";

// import templates
@import './templates/header.scss';
@import './templates/footer.scss';

//import components
// @import './components/.scss';


.site-btn {
  display: block;
  width: fit-content;
  //max-width: 197px;
  background: #0F80CC; //#1E90FF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 24px 40px;
  transition: 0.3s;

  &:hover {
    background: #0C619A;
  }

  &--outline {
    background: transparent;
    border: 1px solid #0F80CC;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #0F80CC;
    box-shadow: initial;

    &:hover {
      background: #0F80CC; //#0F80CC;
      color: white;
    }
  }
}

.site-title {
  &--small {
    .site-title-txt {
      letter-spacing: 0;
    }
  }
}

.site-title-txt {
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  color: #292B4F;

  @include for-992 {
    font-size: 37px;
    line-height: 44px;
  }

  &.main-title {
    letter-spacing: 0.1em;
    span {
      text-transform: uppercase;
    }
  }

  span {
    font-weight: 700;
  }
}

.site-title-caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #292B4F;
  margin-top: 40px;
}

.site-title-btn-wrap {
  display: flex;
  align-items: center;

  span {
    margin-top: 40px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #292B4F;
  }
}

.site-title-btn {
  margin-top: 40px;
}

.mobile-menu-btn {
  display: none;
  margin-left: auto;

  @include for-992 {
    display: block;
  }
}

.homepage .page__wrapper{
  background: #F4F6FE url('../img/home/top_bg.svg') right -50px no-repeat;
}

.page__wrapper {
  overflow: hidden;
  background: #F4F6FE;
}

.homepage .main-wrap {
  @include for-550 {
    display: flex;
    flex-direction: column;

    //.section-who-we {
    //  order: 20;
    //}
  }

  .header {
    &:before {
      content: '';
      position: absolute;
      top: -80px;
      left: 44px;
      display: block;
      width: 274px;
      height: 274px;
      background: #D1E0FF;
      filter: blur(100px);
    }
  }
}


.main-wrap {
  padding-top: 99px;

  @include for-992 {
    padding-top: 0;
  }
}


.section-calculator {
  position: relative;
  z-index: 2;

  .container {
    @include for-992 {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .site-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .site-title-txt {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;

    @include for-992 {
      display: none;
    }
  }
}

.calculator-tabs {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 10px;

  @include for-992 {
    padding-bottom: 0;
    padding-top: 20px;
  }

  @include for-768 {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    background: rgba(176, 199, 255, 0.28);
    border-left: 2px solid #1E90FF;
    border-radius: 0px 10px 10px 0px;
    height: 95px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #1C1D45;
    margin-right: 20px;

    @include for-768 {
      max-width: 100% !important;
      margin-bottom: 20px;

      br {
        display: none;
      }
    }


    &:nth-child(1) {
      width: 100%;
      max-width: 415px;
    }

    &:nth-child(2) {
      width: 100%;
      max-width: 198px;
    }

    &:nth-child(3) {
      width: 100%;
      max-width: 197px;
      margin-right: 0;
    }

    svg {
      margin-right: 23px;
    }
  }
}



.calculator-block {
  margin-top: 40px;
  background: rgba(176, 199, 255, 0.28);
  border: 1px dashed rgba(24, 86, 164, 0.4);
  border-radius: 10px;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 40px;

    @include for-768 {
      padding: 20px 10px 40px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 28px;

    @include for-550 {
      margin-bottom: 15px;
    }

    &--col-2 {
      width: 16.66%;
    }

    &--col-5 {
      width: 41.66%;
    }

    &--col-md-7 {
      @include for-1400 {
        width: 58.33%;
      }
    }

    &--col-sm-12 {
      @include for-992 {
        width: 100%;
      }
    }
  }

  &__name {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #292B4F;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  &__name--quest {
    display: inline-flex;
    margin-left: 45px;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #1E90FF;

    @include for-992 {
      display: none;
    }

    @include for-550 {
      margin-left: 15px;
    }

    svg {
      margin-left: 6px;
    }
  }

  &__select {

    select {
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      height: 50px;
      width: 100%;
      padding: 11px 20px;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #292B4F;
      border: 0;


      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: linear-gradient(45deg, transparent 50%, #338aee 50%), linear-gradient(135deg, #338aee 50%, transparent 50%), linear-gradient(to right, white, white);
      background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px), 100% 0;
      background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
      background-repeat: no-repeat;
    }

    option {
      width: 30px;
      padding: 10px;
    }

    &--custom {

    }

    &--found {

    }

  }

  &__select-cuctom {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 20px;

    input {
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      width: 100%;
      border: 0;
      color: #292B4F;

      &::placeholder {
        color: #939393;
      }
    }
  }

  &__selected {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #292B4F;
    border-bottom: 1px dashed #9AB5D9;
    padding-bottom: 12px;
    margin-bottom: 12px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -6px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #3287F2;
    }
  }

  &__select-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;


    &--column {

    }

    &.dimensions .calculator-block__select-item{
      @include for-992 {
        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 4;
        }

        &:nth-child(3) {
          order: 3;
        }

        &:nth-child(4) {
          order: 2;
        }

      }
    }
  }

  &__select-item {
    padding: 0 10px;

    @include for-992 {
      margin-bottom: 10px;
    }

    &--col-3 {
      width: 25%;
    }

    &--col-4 {
      width: 33.33%;
    }

    &--col-6 {
      width: 50%;
    }

    &--col-8 {
      width: 66.66%;
    }

    &--col-9 {
      width: 75%;
    }

    &--col-sm-6 {
      @include for-992 {
        width: 50%;
      }
    }

    &--col-sm-12 {
      @include for-992 {
        width: 100%;
      }
    }

    .calculator-block__name {
      margin-left: 0;
      text-align: center;
    }

    .site-btn {
      padding: 14px 20px;
      width: 100%;

      @include for-992 {
        max-width: 200px;
        margin-top: 20px;
      }
    }

  }

  &__input {
    position: relative;

    input {
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      height: 50px;
      width: 100%;
      padding-left: 20px;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #292B4F;
      border: 0;
    }

    span {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #939393;
      background: white;
    }

  }

  &__txt {

    &--img {
      display: flex;
      align-items: self-end;
      height: 100%;
      padding-bottom: 16px;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #292B4F;
    }

    svg {
      margin-right: 10px;
      margin-left: 13px;
    }

  }


  &__radio {
    display: flex;
    align-items: self-end;
    height: 100%;
    padding-bottom: 16px;
    padding-left: 15px;
  }

  &__radio-txt {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #292B4F;
  }

  &__radio-item {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #292B4F;

    input:checked + label {

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 10px;
        display: block;
        width: 10px;
        height: 10px;
        background: #1E90FF;
        border-radius: 50%;
      }
    }
  }

  &__radio-label {
    position: relative;
    display: block;
    padding-left: 45px;
    margin-left: 20px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      background: #FFFFFF;
      border-radius: 50%;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px dashed #9AB5D9;

    @include for-550 {
      padding-top: 0px;
      border-top: 0;
    }
  }

  &__footer__left {
    width: 50%;

    @include for-1400 {
      width: 100%;
    }

    .site-btn {
      padding: 14px 40px;
    }
  }

  &__footer__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }

  &__footer-totals {
    display: flex;

    .site-btn {
      margin-left: 40px;

      @include for-992 {
        display: none;
      }
    }
  }

  &__footer-total {
    display: flex;
    align-items: center;
    height: 50px;
    border-left: 2px solid #1E90FF;
    padding: 0 13px;
    margin-left: 20px;
    font-size: 15px;
    line-height: 23px;
    color: #292B4F;

    @include for-550 {
      border-left: 0;
      padding: 0;
    }

    @include for-420 {
      font-size: 13px;
      margin-left: 10px;
    }

    &:first-child {
      margin-left: 0;
    }

    span {
      font-weight: 700;
      padding-left: 5px;
      font-size: 20px;
    }
  }

}

.section-delivery {
  margin-top: 309px;

  @include for-992 {
    margin-top: 40px;
  }
}

.delivery {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -235px;
    margin-left: -444px;
    display: block;
    width: 888px;
    height: 888px;
    background: #FFD250;
    opacity: 0.2;
    filter: blur(250px);
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;

    @include for-992 {
      flex-direction: column;
    }

    .site-title {
      max-width: 365px;
      margin-right: 80px;

      @include for-1300 {
        margin-right: 20px;
      }
    }

    .site-btn {
      position: relative;
      z-index: 3;
      max-width: inherit;
      width: fit-content;
    }
  }

  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: -239px -15px 0;

    @include for-992 {
      margin: 20px -15px 0;
      width: initial;
    }

    &:before {
      content: '';
      position: absolute;
      width: 595px;
      height: 595px;
      right: 0;
      top: 0;
      margin-top: 170px;
      margin-right: -70px;
      background: #009A49;
      opacity: 0.2;
      filter: blur(250px);
      border-radius: 50%;
    }
  }

  &__item {
    position: relative;
    width: 33%;
    padding: 0 15px;
    margin-top: 114px;
    display: flex;
    align-items: stretch;

    @include for-1300 {
      margin-top: 65px;
    }

    @include for-992 {
      margin-top: 30px;
      width: 50%;
    }

    @include for-550 {
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: calc(100% - 40px);
      height: 100%;
      background: #3287f2;
      opacity: .05;
      border-radius: 10px;
      margin-top: 10px;
      margin-left: 35px;
    }

    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }

  &__item-inner {
    position: relative;
    padding: 20px;
    background: white;
    border-radius: 10px;
    z-index: 2;
    width: 100%;

    @include for-550 {
      overflow: hidden;
    }

    & > svg {
      position: absolute;
      bottom: -3px;
      right: 0;
      width: 405px;
      height: 246px;
      z-index: 1;

      @include for-1600 {
        width: 100%;
        height: auto;
      }

      @include for-550 {
        width: 70%;
        height: auto;
        margin-right: -30px;
      }
    }
  }

  &__item-top {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #292B4F;
    padding-bottom: 14px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ababab;

    @include for-1400 {
      display: flex;
      flex-direction: column;
    }

    @include for-1200 {
      font-size: 17px;
    }

    @include for-992 {
      display: block;
      font-size: 22px;
    }

    svg {
      margin-right: 20px;
    }
  }

  &__item-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    color: #292B4F;
  }

  &__item-left {

  }

  &__item-name {
    font-weight: 700;
  }

  &__item-txt {
    font-weight: 400;
    margin-top: 10px;
  }

  &__item-right {
    padding-right: 15px;
  }

}


.section-why-we {

}


.why-we {
  margin-top: 214px;
  padding-bottom: 235px;

  @include for-1300 {
    margin-top: 155px;
    padding-bottom: 85px;
  }

  @include for-992 {
    margin-top: 40px;
  }

  @include for-550 {
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include for-992 {
      flex-direction: column;
    }
  }

  &__left {
    width: 100%;
    max-width: 730px;

    @include for-1300 {
      max-width: 500px;
    }

    @include for-992 {
      min-width: 100%;
    }

    .site-title-btn-wrap {
      margin-top: 21px;

      @include for-550 {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;

        span {
          margin-top: 0;
        }

        .site-btn {
          margin-top: 10px;
        }
      }
    }
  }


  &__right {
    position: relative;
    width: 50%;

    @include for-992 {
      width: 100%;
      height: 470px;
    }

    @include for-550 {
      height: auto;
    }
  }


  &__right-img {
    margin-top: 41px;
    margin-right: 69px;
    position: absolute;
    top: 0;
    right: 0;

    @include for-1400 {
      margin-right: 0;
    }

    @include for-992 {
      left: 280px;
      top: 90px;
    }

    @include for-550 {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
    }

    & > svg {
      @include for-1400 {
        width: 270px;
      }

      @include for-550 {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 522px;
      height: 522px;
      opacity: 0.4;
      border: 1px dashed #3287F2;
      border-radius: 50%;
      margin-left: -193px;
      margin-top: -70px;

      @include for-1400 {
        margin-left: -120px;
        margin-top: 10px;
        width: 370px;
        height: 370px;
      }

      @include for-550 {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 632px;
      height: 632px;
      display: block;
      background: #3287F2;
      opacity: 0.2;
      filter: blur(250px);
      border-radius: 50%;
      margin-left: -430px;

      @include for-550 {
        margin-left: 0;
      }
    }
  }


  &__right-txt {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #292B4F;

    @include for-550 {
      position: static;
      flex-direction: column-reverse !important;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      width: 50%;
      margin: 0 !important;
    }

    &:nth-child(2){
      flex-direction: column;
      justify-content: center;
    }

    &:nth-child(5) {
      flex-direction: column-reverse;
      justify-content: center;
    }

    &.send {
      margin-top: -143px;
      margin-left: -111px;

      @include for-1400 {
        margin-top: -90px;
        margin-left: -50px;
      }

      @include for-550 {
        order: 4;
      }
    }

    &.box {
      margin-top: -3px;
      margin-left: -306px;

      @include for-1400 {
        margin-top: 4px;
        margin-left: -230px;
      }

      @include for-550 {
        order: 1;
      }
    }

    &.money {
      margin-top: 225px;
      margin-left: -348px;

      @include for-1400 {
        margin-top: 235px;
        margin-left: -250px;
      }

      @include for-550 {
        order: 2;
      }
    }

    &.docs {
      margin-top: 377px;
      margin-left: -60px;

      @include for-1400 {
        margin-top: 330px;
        margin-left: 13px;
      }

      @include for-550 {
        order: 3;
      }
    }

  }

}

.section-how-send {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 595px;
    height: 595px;
    left: 0;
    top: 0;
    margin-top: -172px;
    margin-right: -80px;
    background: #009a49;
    opacity: .2;
    filter: blur(250px);
    border-radius: 50%;
  }
}

.how-send {
  position: relative;
  z-index: 2;
  margin-top: 77px;

  @include for-550 {
    margin-top: 40px;
  }

  &__inner {

  }


  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;

    @include for-768 {
      margin-top: 35px;
    }
  }


  &__item {
    display: flex;
    align-items: center;
    width: 25%;

    @include for-1300 {
      width: 50%;
      margin-bottom: 20px;
    }

    @include for-768 {
      width: 100%;
    }

    &:nth-child(2) {
      .how-send__img {

        svg {
          top: 4px;
          left: 0;
        }

        &:before {
          top: -5px;
          left: -10px;
        }
      }
    }
    &:nth-child(3) {
      .how-send__img {
        svg {
          top: 4px;
          left: 0;
        }

        &:before {
          top: -5px;
          left: 10px;
        }
      }
    }
    &:nth-child(4) {
      .how-send__img {
        svg {
          top: -4px;
          left: 0;
        }

        &:before {
          top: 5px;
          left: -10px;
        }
      }
    }
  }


  &__img {
    position: relative;
    margin-right: 30px;

    svg {
      position: relative;
      top: -4px;
      left: 0;
      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 10px;
      border: 1px solid #6EB1E2;
      border-radius: 10px;
      width: 89px;
      height: 89px;
    }
  }


  &__txt {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #292B4F;

    &:before {
      content: attr(data-num);
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -1px;
      font-weight: 700;
      font-size: 90px;
      line-height: 30px;
      color: #0F80CC;
      opacity: 0.1;
    }
  }

}


.section-who-we {
  margin-top: 120px;
  background: url('../img/home/who-we/plane.svg') 90% 183px no-repeat, url("../img/home/who-we/map.svg") 96% 25px no-repeat;
  min-height: 360px;

  @include for-992 {
    position: relative;
    z-index: 2;
    margin-top: 40px;
  }

  @include for-550 {
    margin-top: 20px;
    padding-bottom: 250px;
    background: url('../img/home/who-we/plane-mob.svg') center 100% no-repeat, url("../img/home/who-we/map-mob.svg") center 100% no-repeat;
    //background-size: 100%;
  }
}

.who-we {

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 435px;
    margin-right: -245px;
    width: 537px;
    height: 537px;
    background: #ffd250;
    opacity: .2;
    filter: blur(250px);
    display: none;


    @include for-550 {
      display: block;
    }
  }

  &__inner{
    position: relative;
    z-index: 2;
  }


  &__txt-block{
    max-width: 1068px;
    margin-top: 37px;

    @include for-1440 {
      max-width: 100%;
    }
  }


  &__txt{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #292B4F;
    overflow: hidden;
    max-height: 230px;
    transition: 0.3s;

    @include for-1600 {
      font-size: 15px;
      line-height: 25px;
    }

    &.show {
      max-height: 2000px;

      &::after {
        opacity: 0;
        z-index: -10;
        visibility: hidden;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 135px;
      display: block;
      background: linear-gradient(360deg, #F4F6FE 30%, rgba(244, 246, 254, 0) 100%);
      opacity: 0.9;
      visibility: visible;
      transition: 0.3s;
    }

    p {
      margin-bottom: 20px;
    }
  }


  &__btn{
    margin-top: 77px;
    min-width: 260px;

    @include for-992 {
      margin-top: 30px;
    }
  }

}


.section-advantages {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -420px;
    margin-right: -150px;
    display: block;
    width: 888px;
    height: 888px;
    background: #ffd250;
    opacity: .2;
    -webkit-filter: blur(250px);
    filter: blur(250px);


    @include for-550 {
      display: none;
    }
  }
}

.advantages {
  position: relative;
  z-index: 2;
  margin-top: 96px;

  @include for-550 {
    margin-top: 30px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-1100 {
      flex-direction: column;
      align-items: flex-start;
    }

    .site-title {
      width: 100%;
      max-width: 365px;
      //margin-right: 80px;

      //@include for-1200 {
      //  margin-right: 25px;
      //}

      @include for-992 {
        margin-bottom: 15px;
        max-width: 100%;

        .site-title-txt br {
          display: none;
        }
      }
    }
  }


  &__items {
    display: flex;
    justify-content: space-between;

    @include for-800 {
      flex-direction: column;
    }
  }


  &__item {
    position: relative;
    border-radius: 10px;
    margin-right: 30px;
    width: 100%;
    max-width: 405px;
    background: #FFFFFF;

    @include for-800 {
      margin-bottom: 30px;
      max-width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 10px;
      left: 10px;
      background: #3287F2;
      opacity: 0.05;
      border-radius: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }


  &__item-inner {
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    padding: 30px 30px 18px;
    border-radius: 10px;
    height: 100%;
  }

  &__top {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    svg {
      margin-right: 24px;
    }

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #292B4F;
    }
  }


  &__bottom {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #292B4F;
  }

}






.select2-container--default .select2-selection--single {
  background: no-repeat #fff;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,.1);
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 11px 20px;
  color: #292b4f;
  border: 0;
  //-webkit-box-sizing: border-box;
  //box-sizing: border-box;
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //background-image: linear-gradient(45deg,transparent 50%,#338aee 50%),linear-gradient(135deg,#338aee 50%,transparent 50%),linear-gradient(to right,#fff,#fff);
  //background-position: calc(100% - 20px) calc(1em + 4px),calc(100% - 15px) calc(1em + 4px),100% 0;
  //background-size: 5px 5px,5px 5px,2.5em 2.5em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #338aee transparent transparent;
  border-width: 5px 5px 0;
  margin-left: -14px;
  margin-top: 8px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #338aee;
  border-width: 0 5px 5px;
}

.select2-dropdown {
  border: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: white;
  color: black;
}

.select2-selection__rendered {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #292B4F;
  padding: 0 !important;
}

.select2-results__option {
  background: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #292B4F;
  padding: 10px 20px;
  height: 45px;


  &:hover {
    background: #f4f6fd !important;
  }

  &--selected {
    background: #2193fa !important;
    color: white !important;

    &:hover {
      background: #2193fa !important;
    }
  }
}



.contacts {

  &__inner {
    display: flex;
    justify-content: space-between;
  }


  &__feft {
    width: 100%;
    max-width: 1070px;
  }


  &__tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dcdde2;
  }


  &__tab {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #0F80CC;
    transition: 0.3s;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      transition: 0.3s;
      background: transparent;
    }

    &:hover {
      color: #292B4F;

      &::after {
        background: #292B4F;
      }
    }

    &.active {
      color: #292B4F;

      &::after {
        background: #292B4F;
      }
    }
  }

  &__tab-content {

  }

  &__tab-content-item {
    display: none;

    &.active {
      display: block;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }


  &__info-item {
    display: flex;
    align-items: center;
  }


  &__info-ico {
    position: relative;
    margin-right: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      border: 1px solid #6eb1e2;
      border-radius: 10px;
      width: 63px;
      height: 63px;
    }

    svg {
      position: relative;
      z-index: 2;
    }
  }


  &__info-txt {

  }


  &__info-name {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
  }


  &__info-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #292B4F;
    max-width: 295px;

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #292B4F;
    }
  }


  &__map {
    margin-top: 25px;

    iframe {
      width: 100% !important;
    }
  }


  &__right {
    width: 100%;
    max-width: 525px;
  }


  &__form {

  }


  &__form-title {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    color: #292B4F;
    margin-bottom: 20px;

    span {
      font-weight: 700;
    }
  }


  &__form-input {
    margin-top: 15px;

    input {
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 15px 20px;
      width: 100%;
      border: 0;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #292B4F;

      &::placeholder {
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #292B4F;
      }
    }
  }


  &__form-textarea {
    margin-top: 20px;

    textarea {
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 15px 20px;
      height: 180px;
      border: 0;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #292B4F;

      &::placeholder {
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #292B4F;
      }
    }
  }


  &__form-btn {
    margin-top: 40px;

    .site-btn {
      padding: 14px 46px;
    }
  }

}










